extends layout

block content
  h1= title

  form(id='SodaForm', action="/resource/Sodas", method="POST")
    div.form-group
        label.SodaAttr(for='company') Soda company
        input#company(type='text', name='company')
    div.form-group
        label.SodaAttr(for='flavour') Soda flavour
        input#flavour(type='text', name='flavour')
    div.form-group
        label.SodaAttr(for='price') Soda price
        input#price(type='number', name='price')
    input(type="submit")

  script.
    document.forms['SodaForm'].addEventListener('submit', (event) => {
      event.preventDefault();
      // TODO do something here to show user that form is being submitted
      fetch(event.target.action, {
        method: 'POST',
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form
      }).then((resp) => {
        return resp.json(); // or resp.text() or whatever the server sends
      }).then((body) => {
        alert("Save succeded")
        // TODO handle body
      }).catch((error) => {
        // TODO handle error
        alert("Save failed " + error )
      });
    });

